.h {

    color: black;
    background-color: #FFE5CA;
    font-family: 'Roboto', sans-serif;
    justify-content: space-around;
    gap: 100px;
    list-style: none;
    display: flex;
    align-items: center;
}



.h ul {
    list-style: none;
    justify-content: center;
    display: flex;
    gap: 10px;
    text-decoration: none;
    
}
